body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #fff;
}
a {
  color: #1db954; /* Spotify green for links */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Global page container */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}